body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0b0c1a;
    color: white;
    text-align: center;
    padding: 20px;
   
}

h1 {
    color: #ffd700;
    margin-bottom: 20px;
}

h2 {
    color: #00ffff;
    margin-top: 30px;
}

ul {
    list-style-type: square;
    padding: 0;
}

li {
    margin: 10px 0;
}

img {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #555;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin-top: 30px;
}

nav li {
    list-style: none;
    flex:none;
  
}

nav a {
    
    color: #ffffff;
    text-decoration: none;
    padding: 8px 16px;
    background-color: #1e1f3b;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #333556;
}
